policy_module(zurcoin, 1.100.1)

########################################
#
# Declarations
#

type zurcoin_t;
type zurcoin_exec_t;
init_daemon_domain(zurcoin_t, zurcoin_exec_t)

permissive zurcoin_t;

type zurcoin_initrc_exec_t;
init_script_file(zurcoin_initrc_exec_t)

type zurcoin_conf_t;
files_type(zurcoin_conf_t)

type zurcoin_var_lib_t;
files_type(zurcoin_var_lib_t)

type zurcoin_var_run_t;
files_type(zurcoin_var_run_t)

type zurcoin_port_t;
corenet_port(zurcoin_port_t)

########################################
#
# zurcoin local policy
#
allow zurcoin_t self:process { fork };

allow zurcoin_t self:fifo_file rw_fifo_file_perms;
allow zurcoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(zurcoin_t, zurcoin_conf_t, zurcoin_conf_t)
manage_files_pattern(zurcoin_t, zurcoin_conf_t, zurcoin_conf_t)

manage_dirs_pattern(zurcoin_t, zurcoin_var_lib_t, zurcoin_var_lib_t)
manage_files_pattern(zurcoin_t, zurcoin_var_lib_t, zurcoin_var_lib_t)
files_var_lib_filetrans(zurcoin_t, zurcoin_var_lib_t, { dir file })

manage_dirs_pattern(zurcoin_t, zurcoin_var_run_t, zurcoin_var_run_t)
manage_files_pattern(zurcoin_t, zurcoin_var_run_t, zurcoin_var_run_t)

sysnet_dns_name_resolve(zurcoin_t)
corenet_all_recvfrom_unlabeled(zurcoin_t)

allow zurcoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(zurcoin_t)
corenet_tcp_sendrecv_generic_node(zurcoin_t)
corenet_tcp_sendrecv_all_ports(zurcoin_t)
corenet_tcp_bind_generic_node(zurcoin_t)

gen_require(`
    type zurcoin_port_t;
')
allow zurcoin_t zurcoin_port_t:tcp_socket name_bind;

gen_require(`
    type zurcoin_port_t;
')
allow zurcoin_t zurcoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(zurcoin_t)

files_read_etc_files(zurcoin_t)

miscfiles_read_localization(zurcoin_t)

sysnet_dns_name_resolve(zurcoin_t)

allow zurcoin_t zurcoin_exec_t:file execute_no_trans;
allow zurcoin_t self:process setsched;
corecmd_exec_ls(zurcoin_t)
corenet_tcp_connect_http_port(zurcoin_t)
dev_read_urand(zurcoin_t)
fs_getattr_xattr_fs(zurcoin_t)
kernel_read_system_state(zurcoin_t)
